html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

div.container-fluid{
    background-color:aqua;
}
div.container{
    background-color:antiquewhite;
}
body {
  margin-bottom: 60px;

}